$navbar-background-color: #1A2530;
$introsection-background-color: #1A2530;
$card-background-color: #1A2530;
$dialogbox-background-color: #1A2530;
$fixed-contact-sidebar-background-color: #1A2530;
$card-button-background-color: #1A2530;
$nav-hamburger-color: white;

$aesthetic-text-color: #fc9e49;
$aesthetic-border-color: #fc9e49;

$wave-color: #034078;

$primary-google-font-family: 'Montserrat', sans-serif;
$body-google-font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;