$navbar-background-color: #1A2530;
$nav-hamburger-color: white;

$aesthetic-text-color: #fc9e49;
$aesthetic-border-color: #fc9e49;

$wave-color: #034078;

$primary-google-font-family: 'Montserrat', sans-serif;