/* This will hold all the SASS styling that is common across all pages */

@import "variables";


html, body {
    /* prevents horizonal scrolling */
    overflow-x: hidden;

    font-family: $body-google-font-family;

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.stronger-h1-letters {
    font-size: 1.2em;
}



/* holds the entirety of the primary content */
#main-container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    //height: 793px; // TODO: Change to percentage at end
  }

  // TO DO
  /*
  @media (min-width: 578px) {
    .main-container {
      margin-left: auto;
      margin-right: auto;
      // max-width: 960px;
      max-width: 1280px;
    }
  }
  */

  /*
  NAV BAR
  */

  #topnav-flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 164px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      background-color: $navbar-background-color;
      padding-bottom: 10px;
      position: relative;
  }

  #topnav-logo {
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;

      &>img {
        width: 100px;
        height: 100%;
      }
  }


  #nav-hamburger-container {
      

      &>h2 {
        font-family: 'Montserrat', sans-serif;
        color: $aesthetic-text-color;
        margin-right: 20px;
      }
  }


  #nav-hamburger-custom {
      color: $nav-hamburger-color;
      margin-right: 20px;
  }


  #hamburger-dropdown {
      position: absolute;
      top: 174px;
      right: 10px;
      width: 200px;

      background-color: white;
      z-index: 1; // Ensure the dropdown is always on the front of all other page graphics

      
      display: none; // JS will be used to change this to block on click of the hamburger



      border: 5px solid $aesthetic-border-color;
      box-shadow: 10px 10px 10px gray;
  }

  #dropdown-content-container {

    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 100%;


        &>p {
            width: 100%;
            text-align: center;
            line-height: 40px;
            margin: 0;
            height: 40px;
            display: inline-block;
        }
    
  }

  
  /*
  CARDS - COMMON STYLING
  */

// Transparently overlays the entire card to make the entire card a clickable anchor link - not just the card's button
.card-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline;
}

  /*
  CONTACT ME FOOTER
  */

.footer-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    border-top: 5px solid $aesthetic-border-color;
    background-color: #034078;

    ul {
        display: block;
        position: relative;
        width: 100%;
        list-style-position: inside;
    }

    li {
        position: relative;
        display: block;
        list-style-type: none;
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    span {
        color: white;
        height: 200px;
        font-size: 2em;
        text-align: left;
    }

    .contact-text {
        font-size: 12px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: .05em;
        margin: auto 0 0 0;
        transform: translateY(10px);
    }

}

#footer-container-right {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    align-items:flex-start;
    justify-content: space-between;
    width: 500px;
    height: 100%;
    padding-top: 10px;

    .fa-brands, .fa-solid {
        margin-right: 10px;
    }

    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#footer-container-left {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: center;
    width: 400px;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

    &>h1 {
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        font-size: 3.0rem;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -.1rem;
    }

    &>h3 {
        color: $aesthetic-text-color;
        margin: 0;
        font-size: 2.0rem;
        font-weight: 300;
        line-height: 1.2;
    }
}
