// ***
// This holds all the SASS styling that will only be used on both the webdev.html page and the csharp.html page, as these contain links to my projects as cards
// ***

@import "variables";

.generic-flex-container {
  margin-top: 15px;
  margin-bottom: 15px;

  & > h2 {
    font-size: 2em;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  & > p {
    font-size: 1.2em;
    padding-left: 5%;
    padding-right: 5%;
  }

  li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  & > ul {
    padding-left: 40px;
    padding-right: 2%;
  }
}

#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  background-color: white;

  & > h2 {
    font-size: 2em;
    text-align: center;
  }
}

#project-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  .project-card-content-container {
    background-color: $card-background-color;

    // Must be relative here so that the absolutely positioning child card-wrap class on an anchor link doesn't cover the entire screen
    position: relative;

    width: 100%;
    height: 525px;
    max-width: 300px;
    margin-bottom: 30px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 3%;

    transition: all 0.3s ease-in;

    h2,
    h4 {
      color: white;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 2.6rem;
      line-height: 1.25;
    }

    h4 {
      font-size: 1.4rem;
      line-height: 1.35;
    }

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}

.projects-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid $aesthetic-border-color;

  & > img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #project-cards-container {
    .project-card-content-container {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
