// ***
// This holds all the SASS styling that will only be used both the webdev.html page and the csharp.html page, and only for the styling of the fixed project popup windows components
// ***

@import "variables";


.project-popup {

  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  z-index: 4;

  // Initially on page load of the project page, the popup window will be hidden until the user clicks on one of the project cards
  display: none;

  overflow-y: scroll;

  &>div {
    padding: 0;
  }

  .close-project-popup {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    height: 100px;
    display: inline-block;
    padding-right: 20px;

  }

}

//   The CSS :target pseudo-selector in CSS matches when the hash in the URL and the id of an element are the same
//   Reference: https://css-tricks.com/css-target/
//   e.g. when the URL is webdev.html#open-project-popup-1, the below :target pseudo-selector will find the element with the id open-project-popup-1

:target {

  // Show the popup in its entirety
  display: block;

}

.popup-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: $project-header-background-color;

  h2 {
    font-family: $primary-google-font-family;
    display: inline-block;
    color: $aesthetic-text-color;
    line-height: 100px;
    padding-right: 20px;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
  }
}


@media only screen and (min-width: 768px) {
  .project-popup {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}

.fa-window-close {
  display: inline-block;
  line-height: 100px;
  font-size: 2em;
  color: $aesthetic-border-color;
  background-color: $project-header-background-color;

}




.popup-content {
  padding: 5% 5% 5% 5%;

  &>p {
    font-size: 1.2em;
  }

  &h4 {
    color: black;
  }

  li {
    font-size: 1.2em;
  }

  .popup-content-border {
    border-bottom: 5px solid $aesthetic-border-color;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
  }

}



.project-screenshots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 0;
  margin: 0;

  &>img {
    padding: 15px 15px 15px 15px;
    max-width: 100%;
    max-height: 100%;
  }
}