.generic-flex-container, .cert-container {
  margin-top: 15px;
  margin-bottom: 15px;
}
.generic-flex-container > h2, .cert-container > h2 {
  font-size: 2em;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.generic-flex-container > p, .cert-container > p {
  font-size: 1.2em;
  padding-left: 5%;
  padding-right: 5%;
}
.generic-flex-container li, .cert-container li {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.generic-flex-container > ul, .cert-container > ul {
  padding-left: 40px;
  padding-right: 2%;
}

.cert-container {
  background-color: white;
}
.cert-container div[class*=cert-logo] {
  border-bottom: 5px solid #b3b3b3;
  margin: 10px 10px 10px 10px;
}
.cert-container > p {
  text-align: center;
  font-size: 1.5em;
}
.cert-container .cert-container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cert-container .cert-container-bottom p {
  text-align: center;
}
.cert-container .cert-container-bottom img {
  padding: 10px;
}
.cert-container .cert-container-subnote {
  text-align: center;
  font-size: 100%;
  margin: 0;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .cert-container .cert-container-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px 0px rgba(41, 51, 69, 0.75);
  background-color: white;
}
#projects-container > h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 35px;
}

.project-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.project-cards-container .project-card-content-container {
  background-color: #1A2530;
  position: relative;
  width: 100%;
  height: 525px;
  max-width: 300px;
  margin-bottom: 30px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 3%;
  transition: all 0.3s ease-in;
}
.project-cards-container .project-card-content-container h2,
.project-cards-container .project-card-content-container h4 {
  color: white;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}
.project-cards-container .project-card-content-container h2 {
  font-size: 2.6rem;
  line-height: 1.25;
}
.project-cards-container .project-card-content-container h4 {
  font-size: 1.4rem;
  line-height: 1.35;
}
.project-cards-container .project-card-content-container:hover {
  transform: scale(1.1, 1.1);
}

.projects-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid #fc9e49;
}
.projects-thumb > img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .project-cards-container .project-card-content-container {
    margin-right: 5px;
    margin-left: 5px;
  }
}/*# sourceMappingURL=projectpage_custom.css.map */