@import "variables";


.project-popup {

    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    z-index: 4;
  
    //opacity: 0;

    display: none;

    // Because this fixed popup window covers the entire screen on HTML load, we don't want anything on the popup to be interactable or clickable until the user
    // wants to navigate to the project popup
    //pointer-events: none;
  
    overflow-y: scroll;
  }
  
//   The CSS :target pseudo-selector in CSS matches when the hash in the URL and the id of an element are the same
//   Reference: https://css-tricks.com/css-target/
//   e.g. when the URL is webdev.html#open-project-popup-1, the below :target pseudo-selector will find the element with the id open-project-popup-1

:target {

    //opacity: 1;
    // Show the popup in its entirety
    display: block;

    //pointer-events: auto;
  }
  
  .project-popup>div {
    position: relative;
    //padding: 2rem;
  }
  
  .project-popup .close-project-popup
  {
    position: relative;
    float: right;
    //transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }
  
  
  @media only screen and (min-width: 768px) {
    .project-popup {
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
    }
  }
  
  .fa-window-close {
      font-size: 2em;
      color: #FC9E49;
      background-color: #293345; 
      padding-right: 20px;
      padding-top: 25%;
  }
  
  .popup-header {
      width: 100%;
      height: 100px;
      background-color: #293345;
  }
  
  .project-popup>div {
      padding: 0;
  }
  
  .popup-content {
      padding: 5% 5% 5% 5%;
  }
  
  
  .popup-content > p {
      font-size: 1.2em;
      
  }
  
  .popup-content > h4 {
      color: black;
  }
  
  .popup-content li {
      font-size: 1.2em;
  }
  
  .popup-content .popup-content-border {
      border-bottom: 5px solid #FC9E49;
      padding-top: 1%;
      padding-bottom: 1%;
      width: 100%;
  }
  
  .project-screenshots {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      //width: 100%;
      //height: 100%;

      padding: 0;
      margin: 0;

      &>img {
        padding: 15px 15px 15px 15px;
        max-width: 100%;
        max-height: 100%;
      }
  }
